@charset "utf-8";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

html,
body {
  overscroll-behavior: contain;
  position: relative;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Zen Maru Gothic', serif;
  color: #fff;
}

img {
  max-width: 100%;
  vertical-align: bottom;
}

ul,
ol {
  list-style-type: none;
}

.flex {
  display: flex;
  text-align: center;
}

.wrapper {
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 20px;
}

.boxdashed {
  padding: 5rem 1.5em;
  background: linear-gradient(#000, #655641);
  
}

/*=============== スクロールアニメーション =================*/
.box {
  opacity: 0;
  height: 100vh;
}

#scrolly-video {
  width: 100vw;
  margin: 0 auto;
  height: 100vh;
}

#scrolly-video video{
  object-fit: cover;
}


.scroll-downs {
  position: sticky;
  top: 0;
  right: 0;
  bottom: 1rem;
  left: 0;
  margin: auto;
  z-index: 9999;
  width :34px;
  height: 55px;
}
.mousey {
  width: 3px;
  padding: 10px 15px;
  height: 35px;
  border: 4px solid #fff;
  border-radius: 25px;
  opacity: 0.75;
  box-sizing: content-box;
}
.scroller {
  width: 3px;
  height: 10px;
  border-radius: 25%;
  background-color: #fff;
  animation-name: scroll;
  animation-duration: 2.2s;
  animation-timing-function: cubic-bezier(.15,.41,.69,.94);
  animation-iteration-count: infinite;
}
@keyframes scroll {
  0% { opacity: 0; }
  10% { transform: translateY(0); opacity: 1; }
  100% { transform: translateY(15px); opacity: 0;}
}
/*=============== タイトル =================*/
.topimg {
  margin:50px;
}
.topimg p {
  margin: 50px;
  font-size: 1.5rem;
}
h1 {
  margin-bottom: 100px;
  text-align: center;
}

div.foo{
  text-align: center;
}
.letter{
  font-family: 'Lobster';
  font-size: 4rem;
}

/*=============== フェードイン =================*/

.fadein {
  opacity: 0;
}

.text__slideIn {
  padding-bottom: 50px;
  animation: slideIn 5s infinite;
}

@keyframes slideIn {
  0% {
    opacity: 0;
    transform: translateX(1000px);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

.yurayura {
  width: 300px;
  height: auto;
  padding: 0 10px;

  animation: fluffy1 2s ease infinite;
}

@keyframes fluffy1 {
  0% {
    transform: translateY(0);
  }

  5% {
    transform: translateY(0);
  }

  10% {
    transform: translateY(0);
  }

  20% {
    transform: translateY(-10px);
  }

  25% {
    transform: translateY(0);
  }

  30% {
    transform: translateY(-10px);
  }

  50% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(0);
  }
}

.text {
  padding-bottom: 3rem;
}

.lanp {
  text-align: center;
}
/*=============== リンクホバー時にmoreボタンを表示 =================*/

.modal-open a:after{
  content: "";
  display: inline-block;
  cursor: none;
  
}

.modal-open a:hover:after{
  background-image: url(images/pointer.png);
  background-repeat: no-repeat;

    width: 64px;
    height: 64px;
    transition: .2s;
    position: absolute;
    
  }


/*=============== グリッドレイアウト =================*/

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(310px, 1fr));
  text-align: center;
}



/*=============== モーダルウィンドウ =================*/

.modal-wrapper {
  width: 100%;
  max-width: 800px;
  min-width: 300px;
  height: 100%;
  max-height: 850px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  padding: 0.2em 0.5em;
 
  color: #565656;
  background: #d3e6ea;
  box-shadow: 0px 0px 0px 10px #d3e6ea;
  border: dashed 2px #00333a;
  border-radius: 8px;
  text-align: center;
}

.modal {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
}

.modal-open p {
  font-size: 1rem;
  padding: 0.5rem;
}

.modal-open {
  display: inline-block;
  border-radius: 20px;
  
  padding: 0.2em 0.5em;
  margin: 2em 0;
  
  text-align: center;
}

.modal-open a {
  display: inline-block;
  padding: 5px;
  text-decoration: none;
  
}

.modal:not(:target) {
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.5s, visibility 0.5s;
}

.modal:target {
  opacity: 1;
  visibility: visible;
  transition: opacity 0.5s, visibility 0.5s;
}

.modal .overlay {
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: #000;
  opacity: 0.7;
  top: 0;
  left: 0;
}

.modal-summary {
  text-align: center;
  padding-top: 20px;
  padding-bottom: 10px;
  font-size: 1.2rem;
  font-weight: bold;
}

.modal-text {
  padding-top: 1rem;
  padding-left: 1rem;
}

.modal-left {
  padding-top: 1rem;
}

.modal-text span {
  font-weight: bold;
}

.modal-img {
  padding-left: 2rem;
}

.modal-contents {
  overflow: auto;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  position: relative;
}

.modal-content {
  margin: 25px;
}

.modal-close {
  position: absolute;
  top: 5px;
  right: 10px;
  text-decoration: none;
}



/*=============== スライドショー =================*/

.slide_cont{
  
   white-space: nowrap;
  
   width: 300px;
  
   height: 300px;
  
   overflow: hidden;
   
   
   background-color: #fafafa;
   border: 15px solid #000;
  }
  
  .slide_cont img{
  
   margin: 0;
  
   padding: 0;
  
   width: inherit;
  
   height: auto;
  
   border: none;
   vertical-align: bottom;
  
  }

  @keyframes slide_cont4 {
    
     0% { margin-left: 0; }
    
     33% { margin-left: -100%; }
    
     66% { margin-left: -200%; }
    
     100% { margin-left: -300%; }
    
    }

    .slide_cont > :first-child {
      
       animation-name: slide_cont4; /* キーフレーム使用 */
      
       animation-duration: 8s; /* アニメーション時間を5秒に設定 */
      
       animation-delay: 0s; /* アニメーション開始までの時間を0秒に設定 */
      
       animation-iteration-count: infinite; /* アニメーションをずっと続ける */
      
      }
      
    
  
/*=============== 円プログレスバー =================*/

.shop {
  margin-top: 100px;
  display:grid;
  height:100%;
}


/*=============== pagetopボタン =================*/

.top__link.open {

  justify-content: center;
  align-items: center;
  width: 80px;
  height: 80px;

  text-align: center;
  line-height: 1.3;
  position: fixed;
  right: 20px;
  bottom: 80px;
  z-index: 500;
}



/*=============== footer =================*/

.foot {
  background: linear-gradient(#655641,#d3e6ea);
  background-blend-mode: luminosity;
  
 text-align: center;
  color: #333;
  margin: auto;
}

.foote {
  padding: 2rem 0;
  font-size: 3rem;
}

.container {
	width: 100%;
	height: 32.6vw;
	background: url('sample-bg-03.png') repeat-x;
	background-size: 50%;
	animation: scroll-anim 30s linear infinite;
}

.container::before {
	content: "";
	width: 100%;
	height: 32.6vw;
	position: absolute;
	background: url('sample-bg-02.png') repeat-x;
	background-size: 50%;
	animation: scroll-anim 20s linear infinite;
}

.container::after {
	content: "";
	width: 100%;
	height: 32.6vw;
	position: absolute;
	background: url('sample-bg-01.png') repeat-x;
	background-size: 50%;
	animation: scroll-anim 10s linear infinite;
}


@keyframes scroll-anim {
	100% {
		background-position: -100% 0;
	}
}

.walk {
  position: absolute;
  left: 40%;
  bottom:0;
  z-index: 1;
}
